Repository sigstore/sigstore-python, pull requests merged in 2022-06, with the labels that each got.

#103 _cli, _sign, _verify, oidc: Add `--fulcio-url` and `--rekor-url`
  README.md
  sigstore/_cli.py
  sigstore/_internal/oidc/__init__.py
  sigstore/_internal/rekor/client.py
  sigstore/_sign.py
  sigstore/_verify.py
Labels: component:cli

#104 _cli: Add `--staging` convenience flag
  README.md
  sigstore/_cli.py
  sigstore/_internal/fulcio/client.py
  sigstore/_internal/oidc/oauth.py
  sigstore/_internal/rekor/client.py
  sigstore/_store/ctfe.staging.pub
Labels: component:cli

#80 fulcio, _sign: Request certificates via CSR
  sigstore/_internal/fulcio/__init__.py
  sigstore/_internal/fulcio/client.py
  sigstore/_sign.py
Labels: component:signing

#110 _verify: Add Fulcio intermediate certificate
  sigstore/_store/fulcio_intermediate.crt.pem
  sigstore/_verify.py
Labels: component:verification

#112 _cli, _verify: Add `--cert-oidc-issuer` flag
  README.md
  sigstore/_cli.py
  sigstore/_verify.py
  test/test_verify.py
Labels: component:cli, component:verification

#121 workflows: add staging-tests
  .github/workflows/staging-tests.yml
  README.md
  sigstore/_cli.py
  sigstore/_internal/fulcio/client.py
  sigstore/_internal/rekor/client.py
  sigstore/_internal/set.py
  sigstore/_sign.py
  sigstore/_store/__init__.py
  sigstore/_store/fulcio.crt.staging.pem
  sigstore/_store/fulcio_intermediate.crt.staging.pem
  sigstore/_store/rekor.staging.pub
  sigstore/_verify.py
  test/test_sign.py
  test/test_verify.py
Labels: qa, component:cicd, refactoring

#125 CLI: Add `--output` and `--force`
  .github/workflows/staging-tests.yml
  README.md
  pyproject.toml
  sigstore/_cli.py
  sigstore/_internal/rekor/client.py
  sigstore/_sign.py
  sigstore/_verify.py
Labels: component:cli, refactoring

#128 cli: replace `--output` with `--no-default-files`
  .github/workflows/staging-tests.yml
  README.md
  sigstore/_cli.py
Labels: component:cli

#129 README: add signing examples
  README.md
Labels: documentation

#130 `sigstore verify`: support multiple inputs
  .github/workflows/staging-tests.yml
  README.md
  sigstore/_cli.py
Labels: component:cli

#140 oauth: use a context manager for the server's thread
  sigstore/_internal/oidc/oauth.py
Labels: component:signing
