Repository sigstore/sigstore-python, pull requests merged in 2023-04, with the labels that each got.

#591 Unit testing for bundled trust root getters
  sigstore/_internal/tuf.py
  test/unit/conftest.py
  test/unit/internal/test_tuf.py
Labels: component:tests, safe to test, component:tuf

#609 swap over to using CDN to fetch TUF roots
  sigstore/_internal/tuf.py
Labels: safe to test, component:tuf

#621 release: prep 1.1.2
  CHANGELOG.md
  sigstore/__init__.py
Labels: chore, safe to test

#622 CHANGELOG: fix link
  CHANGELOG.md
Labels: chore, safe to test

#611 tuf: embed trusted root target
  CHANGELOG.md
  sigstore/_internal/tuf.py
  sigstore/_store/prod/root.json
  sigstore/_store/prod/trusted_root.json
  sigstore/_store/staging/root.json
  sigstore/_store/staging/trusted_root.json
  sigstore/_utils.py
  sigstore/errors.py
  test/unit/conftest.py
  test/unit/internal/test_tuf.py
  test/unit/test_store.py
Labels: enhancement, safe to test, component:tuf

#614 _cli: emit only sigstore bundle by default
  CHANGELOG.md
  README.md
  sigstore/_cli.py
Labels: enhancement, component:cli, safe to test

#626 tuf: remove non-trusted-root handling paths
  CHANGELOG.md
  sigstore/_internal/tuf.py
  test/unit/internal/test_tuf.py
Labels: refactoring, safe to test, component:tuf

#627 _cli: implement `--output-directory`
  CHANGELOG.md
  README.md
  sigstore/_cli.py
Labels: enhancement, component:cli, safe to test

#637 workflows: bump sigstore-conformance
  .github/workflows/conformance.yml
Labels: component:cicd

#639 conformance: remove old id-token permission
  .github/workflows/conformance.yml
Labels: component:cicd, chore
